<launch> 

<!-- AirSim ROS Wrapper -->
	<include file="$(find airsim_ros_pkgs)/launch/airsim_node.launch"/>
<!-- Vehicle Dynamic Constraints -->
	<include file="$(find airsim_ros_pkgs)/launch/dynamic_constraints.launch"/>
<!-- Simple PID Position Controller -->
	<include file="$(find airsim_ros_pkgs)/launch/position_controller_simple.launch"/>
	
	 <node name="planning_node" pkg="airsim_planning_ros_pkgs" type="planning_node" output="screen">
        <param name="update_control_every_n_sec" type="double" value="0.01" /> <!-- this needs to be in sync with airsim_ros_wrapper? -->
    </node>

    	 <node name="monoslam_node" pkg="airsim_monoslam_ros_pkgs" type="monoslam_node" output="screen">
        <param name="process_image_every_n_sec" type="double" value="1" /> <!-- this needs to be in sync with airsim_ros_wrapper? -->
    </node>


</launch>